<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="light" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RELATÓRIO DE VENDAS</title>
    <link rel="shortcut icon" href="img/main/icone.ico" type="image/x-icon">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="col-auto mt-4 ml-2 text-right">
        <a th:href="@{/}" class="btn bg-transparent text-decoration-none text-decoration-underline btn-lg">Voltar para o menu</a>
    </div>
<div class="container">
    <h1 class="text-center mt-5 mb-5">RELATÓRIO DE VENDAS</h1>
    <form class="form-inline justify-content-center mb-4" action="/search_relatorio_vendas" method="post">
        <div class="form-group mr-2">
            <label for="data_inicio" class="mr-2">Data Início:</label>
            <input type="date" id="data_inicio" name="data_inicio" class="form-control" required="">
        </div>
        <div class="form-group mr-2">
            <label for="data_fim" class="mr-2">Data Fim:</label>
            <input type="date" id="data_fim" name="data_fim" class="form-control" required="">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <h2 class="text-center mb-4">Resultados:</h2>
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nº do Cupom</th>
                <th scope="col">Data da Venda</th>
                <th scope="col">Código do Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor Unitário</th>
                <th scope="col">Desconto</th>
                <th scope="col">Subtotal</th>
            </tr>
            </thead>
            <tbody id="tabela-vendas">
            <tr th:each="venda : ${vendas}">
                <td th:text="${venda.id_venda}"></td>
                <td th:text="${venda.data_venda}"></td>
                <td th:text="${venda.id_produto}"></td>
                <td th:text="${venda.quantidade_vendida}"></td>
                <td th:text="${venda.valor_unitario}"></td>
                <td th:text="${venda.desconto}"></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <style>
        .font-size-lg {
            font-size: 24px;
        }
    </style>
    <div class="container text-center mt-4">
        <div class="rounded border p-2 font-size-lg d-inline-block">
            <p><strong>Total de Descontos:</strong> <span id="total-descontos"></span></p>
        </div>
        <div class="mt-3 rounded border p-2 font-size-lg d-inline-block">
            <p><strong>Total Geral:</strong> <span id="total-geral"></span></p>
        </div>
    </div>
</div>
    <script src="/javascript/relatorio-vendas.js"></script>
</body>
</html>
